.large-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 150px;
  width: 200px;
  border-radius: 10px;
  border: 5px solid rgba($primary, 0.45);
  transition: all 0.4s;

  &:hover {
    background: rgba($primary, 0.05);
    transition: all 0.4s;
  }

  &--disabled {
    border-color: $secondary;

    &:hover {
      background: rgba($secondary, 0.05);
      cursor: not-allowed;
    }
  }

  &__title {
    margin-top: 5px;
    margin-bottom: 0;
  }
}
