.upload-package-lock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 225px;
  width: 275px;
  border-radius: 20px;
  border: 5px solid rgba($primary, 0.45);
  transition: all 0.4s;

  &--error {
    background: rgba($danger, 0.5);
    animation: 0.15s shaking 0s 2;
  }

  &:not(&--error):hover {
    background: rgba($primary, 0.05);
    transition: all 0.4s;
  }

  &__icon {
    font-size: 3em;
  }

  &__title {
    margin-top: 5px;
    margin-bottom: 0;
  }
}
